@mixin section-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@mixin heading-padding {
    padding-bottom: 1.5rem;
}

@mixin box-shadow {
    box-shadow: 1px 2px 15px 0px rgb(0 0 0 / 15%);
}

    