// main button of the website: used on the index and to order
.header__btn {
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to bottom right, $secondary, $primary);
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    @include box-shadow;
    transition: all 200ms ease-in-out;

    &:hover {
        opacity: 0.8;
        box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 20%);
    }
}

// "Like" button change color on hovering thanks to two svg overlapping
// The outline button opacity decrease to reveal the fill button.
.heart {
    background-color: transparent;
    border: none;
    position: relative;

    & svg {
        width: 25px;
        overflow: visible;
    }

    //Th
    &--full {
        .gradientstop1 {
            stop-color: $primary;
        }

        .gradientstop2 {
            stop-color: $secondary;
        }

        path {
            fill: url(#heart__gradient);
        }
    }

// Heart shaped button on the index
    &--outline-white {
        stroke: black;
        fill: white;
        position: absolute;
        left: 6px;
        top: 1px;
        transition: opacity 200ms ease-in-out;

        &:hover {
            opacity: 0;
        }
    }

// Heart shaped button on the menu
    &--outline-gray {
        stroke: black;
        fill: $gray;
        position: absolute;
        left: 6px;
        top: 1px;
        transition: opacity 200ms ease-in-out;

        &:hover {
            opacity: 0;
        }
    }

}


