.header__btn {
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to bottom right, $secondary, $primary);
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    transition: all 200ms ease-in-out;
    @include box-shadow;
}

.header__btn:hover {
    opacity: 0.8;
    box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 20%);
}

.heart {
    width: 16px;
    height: 16px;
    padding: 0;
    border: 1px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    background-color: transparent;
    transform: rotate(-45deg);
    position: relative;

    &::before, &::after {
        content: "";
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        position: absolute;
        border-radius: 50%;
        border: 1px solid black;
        border-left-color: transparent;
        background-color: transparent;
    }

    &::before {
        top: -1px;
        transform: rotate(-42deg);
        border-bottom-color: black;
        border-top-color: transparent;
    }

    &::after {
        top: -9px;
        left: -1px;
        transform: rotate(-48deg);
        border-bottom-color: transparent;
    }
}

.heart:hover {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}