.spinner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1;

    &__container {
        position: absolute;
        width: 12rem;
        height: 12rem;
        left: 0; 
        right: 0; 
        top: 0;
        bottom: 0;
        margin: auto;
        animation: rotate 3s ease infinite;
    }

    .dot {
        width: 4rem;
        height: 4rem;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -27%);

        &-1 {
            background-color: $primary;
            animation: dot-1-move 3s ease infinite, z-index 9s ease infinite;
        }

        &-2 {
            background-color: $secondary;
            animation: dot-2-move 3s ease infinite, z-index 9s 3s ease infinite;
        }

        &-3 {
            background-color: $tertiary;
            animation: dot-3-move 3s ease infinite, z-index 9s 6s ease infinite;
        }
    }
}