.spinner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1;

    &__container {
        position: absolute;
        width: 12rem;
        height: 12rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dot {
        width: 4rem;
        height: 4rem;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -27%);

        &-1 {
            animation: dot-1-move 2s ease infinite;
        }

        &-2 {
            animation: dot-2-move 2s ease infinite;
        }

        &-3 {
            animation: dot-3-move 2s ease infinite;
        }
    }
}