// fonts 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

.heading-font {
    font-family: 'Shrikhand', cursive;
}

// Css reset

html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

// headings 
h1, h2 {
    @include heading-padding;
}

a {
    text-decoration: none;
    color: inherit;
}

// Layout 

.container {
    padding: 0 4%;
}

.index-section {
    @include index-section-padding;
}

section:not(.index-section) {
    padding-bottom: 2.45rem;
}
