html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

// headings 
h1, h2 {
    @include heading-padding;
}

a {
    text-decoration: none;
    color: inherit;
}

// Layout 

.container {
    padding: 0 4%;
}

.index-section {
    @include index-section-padding;
}

section:not(.index-section) {
    padding-bottom: 2.45rem;
}

// Animations

@keyframes checkturn {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
}