header {
    text-align: center;
    position: relative;
}

.header__logo {
    display: block;

    img {
        width: 165px;
        height: auto;
        padding: 1rem 0;
    }

    + div {
        background-color: $grey;
        margin: 0;
        padding: 1rem 0;
        font-weight: bold;

        span {
            margin-right: 15px;
        }
    }
}

.header__text {
    @include index-section-padding;
    background-color: $gray;
    padding-left: 9%;
    padding-right: 9%;

    h1 {
        font-size: 1.9rem;
    }

    p {
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
    }
}

.backarrow {
    position: absolute;
    top: 23px;
    left: 20px;

    + div {

        height: 255px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
