// Description section on the index
.description {
  padding-left: 4%;
  padding-right: 4%;
  
    &__step {
      display: flex;
      align-items: center;
      background-color: $gray;
      max-width: 76%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      padding: 25px 26px;
      border-radius: 20px;
      position: relative;
      font-size: 1rem;
      @include box-shadow;
      font-weight: bold;

      &:last-child {
        background-color: $lilac;
      }
  
      // Step number
      span {
        background-color: $primary;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 50%;
        position: absolute;
        left: -15px;
      }

      // Step icon
      i {
          margin-right: 25px;
          font-size: 1.5rem;
      }
    }
  }
  
  .fa-mobile-alt, .fa-list-ul {
    color: #7E7E7E;
  }
  
  .fa-store {
    color: $primary;
  }