.menu {
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 20px 20px 0 0;
    position: relative;
    top: -35px;

    > div:first-child {
        display: flex;
        align-items: center;

        button {
            margin-left: auto;
        }
    }

    &__bg {
        background-color: $gray;
    }

    &__heading {
        padding-top: 30px;
        font-size: 1.7rem;
        font-weight: normal;
    }

    &__dishes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(294px, 1fr));
        grid-gap: 20px;
    }

    .section-heading {
        font-size: 1rem;
        font-weight: normal;
        position: relative;
    }

    .section-heading:after {
        content:"";
        height: 3px;
        width: 40px;
        background-color:$tertiary;
        position: absolute;
        bottom: 18px;
        left: 0;
    }

    &__dish {
        background-color: white;
        border-radius: 15px;
        @include box-shadow;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    &__dish:hover .menu__check {
        width: 70px;
    }

    &__dish:hover i {
        animation: 200ms ease-out 100ms forwards checkturn;
    }

    &__check {
        background-color: $tertiary;
        color: white;
        width: 0%;
        border-radius: 0 15px 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width 300ms ease-in-out;
    }
}

.item {
    padding: 10px 20px 10px 10px;
    overflow: hidden;
    width: 100%;

    &__name {
        font-weight: bold;
        padding-bottom: 5px;
    }

    &__details {
        display: flex;
        align-items: center;

        p:first-child {
            font-weight: lighter;
            font-size: 0.9rem;
        }

        p:last-child {
            margin-left: auto;
            font-weight: bold;
        }
    }
}

.item__name, .item__details p:first-child {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu section {
    opacity: 0;
    transform: translateY(20px);
    animation: 600ms ease-in-out forwards slideup;

    &:first-child {
        animation-delay: 300ms;
    }

    &:nth-child(2) {
        animation-delay: 500ms;
    }

    &:last-child {
        animation-delay: 700ms;
    }
}

.menu .header__btn {
    display: block;
    margin: auto;
}

